# Template for GreenRouting API - DO NOT put real keys here
EMAPS_API_KEY=your_key_here
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-1

# 1. copy this file after you pull the code, and rename it to exactly .env.
# 2. Paste own (or shared) AWS and Electricity Maps keys into that file.
    # Access key can be found under Security Credentials in IAM User in your AWS account

# 3. Run the code with python app.py.
